@font-face {
  font-family: "Montserrat";
  font-style: light;
  font-weight: 300;
  src: local(""), url("../fonts/") format("ttf"), url("../fonts/Montserrat-Light.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/") format("ttf"), url("../fonts/Montserrat-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/") format("ttf"), url("../fonts/Montserrat-Medium.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/") format("ttf"), url("../fonts/Montserrat-SemiBold.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/") format("ttf"), url("../fonts/Montserrat-Bold.ttf") format("woff");
}

/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  position: relative;
  height: 100%;
}

a:active,
a:hover,
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-align: center;
  background-color: rgb(33, 33, 33);
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo {
  max-width: 230px;
}

.section-title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.section-subtitle {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  color: #696969;
}

/* Main social */

.social {
  display: flex;
  list-style: none;
}

.social-item {
  margin-left: 10px;
}

.social-item:first-child {
  margin-left: 0;
}

.social-link {
  display: block;
  width: 38px;
  height: 38px;
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: black; */
  border-radius: 50%;
}

.phone {
  position: relative;
  font-size: 18px;
  line-height: 40px;
}

.phone::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-phone.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  display: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

/* header */

.header {
  position: relative;
  padding: 10px 0;
  background-color: #f5f5f5;
  text-decoration: none;
  list-style: none;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main {
  display: flex;
  flex-direction: column;
}

.header-menu {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color:#696969;
}

.header-menu-item {
  position: relative;
  margin: 0 15px;
}

.header-menu-item:last-child {
  margin-right: 0;
}

.header-menu-dot::before {
  position: absolute;
  content: '.';
  top: 6px;
}

.header-contacts {
  display: flex;
  justify-content: end;
}

.social-header,
.btn-header {
  margin-left: 65px;
}

.phone-header {
  margin-left: 55px;
  color: #696969;
}

.header-logo {
  margin-right: auto;
}

.btn-header {
  padding: 2px 10px;
  max-width: 250px;
  min-width: 130px;
  height: 38px;
  font-size: 14px;
  color: white;
  border-color: rgb(33, 33, 33);
}

.burger-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 5%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ab0e16;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Primary */

.primary {
  text-align: center;
  background-image: url(../images/bg-primary.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.primary-overlay {
  padding: 40px 0;
  background: linear-gradient(to right, rgba(0, 0, 0, .8) 50%, rgba(0, 0, 0, 0.6))
}

.primary .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 410px;
  max-width: 1120px;
}

.primary-title {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 50px;
  text-transform: uppercase;
}

.primary-text {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.primary-button {
  align-self: center;
  width: 350px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  border-radius: 4px;
}

.primary-button.animation {
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.primary-button.animation::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.primary-button.animation:hover::before {
  opacity: 0.2;
}

.primary-button.animation span {
  position: absolute;
}

.primary-button.animation span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#fff));
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #fff);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.primary-button.animation span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#fff));
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #fff);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.primary-button.animation span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#fff));
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #fff);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.primary-button.animation span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#fff));
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #fff);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

/* About */

.about-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 80px 0;
}

.about-image {
  flex-basis: 40%;
  margin-right: 28px;
}

.about-information {
  flex-basis: 60%;
}

.about-title {
  margin-bottom: 20px;
}

.about-text {
  color: #696969;
}

.about-text:last-child {
  margin-top: 18px;
}

/* Main-features */

.features {
  padding: 80px 0;
  text-align: center;
  background-color: #f5f5f5;
}

.about-image {
  display: flex;
  flex-direction: column;
}

.features-title {
  margin-bottom: 10px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.features-item {
  flex-basis: 50%;
  padding: 30px 10px;
  min-width: 460px;
  text-align: left;
}

.features-card {
  display: flex;
  align-items: center;
  min-width: 460px;
}

.features-card img {
  margin-right: 30px;
  width: 128px;
}

.features-card h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}

.features-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #696969;
}

/* Catalog */

.catalog {
  margin: 80px 0;
  text-align: center;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  flex-basis: 33.3%;
  padding: 15px 20px;
}

.catalog-item-advanced {
  position: fixed;
  top: 0;
  transform: translate(22%, 50%);
  z-index: 10;
  background-color: white;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.catalog-item-advanced .catalog-card {
  flex-direction: row;
  height: fit-content;
  width: 66%;
  border: 2px solid #696969;
  background-color: white;
  text-align: left;
}

.catalog-item-advanced .catalog-card img {
  margin-right: 15px;
}

.catalog-card {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

.button-close {
  cursor: pointer;
  display: none;
  position: relative;
  background-color: white;
  border: none;
  width: 25px;
  height: 25px;
  top: 0px;
  right: -285px;
}

.catalog-item-advanced .button-close {
  display: block;
}

.button-close::before {
  position: absolute;
  background-color: #222222;
  content: '';
  width: 27px;
  height: 3px;
  top: 10px;
  left: 0px;
  transform: rotate(45deg);
}

.button-close::after {
  position: absolute;
  background-color: #222222;
  content: '';
  content: '';
  width: 27px;
  height: 3px;
  top: 10px;
  left: 0px;
  transform: rotate(-45deg);
}

.catalog-card:hover {
  background-color: #cfcfcf;
}

.catalog-item-advanced .catalog-card:hover {
  background-color: white;
}

.catalog-card img {
  max-width: 70%;
  border-radius: 8px;
}

.catalog-card h3 {
  margin: 10px 0 15px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.catalog-card-text {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.catalog-item-advanced .catalog-card .catalog-card-information .catalog-card-text {
  display: none;
}

.catalog-card-description {
  display: none;
}

.catalog-item-advanced .catalog-card .catalog-card-information .catalog-card-description {
  display: block;
  margin-bottom: 25px;
}

.catalog-card-price {
  padding-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
}

.btn-order {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: light;
}

/* Specifications */

.specifications {
  margin: 80px 0;
}

.specifications-wrap {
  display: flex;
  padding: 0 60px;
}

.specifications-wrap div:first-child {
  margin-right: 30px;
}

/* .specifications-wrap div:first-child img {
  height: 600px;
} */

.specifications-wrap div:last-child {
  flex-shrink: 1.7;
  display: flex;
  flex-direction: column;
}

.specifications-wrap div:last-child img {
  margin-bottom: 40px;
}

.specifications-title {
  font-size: 24x;
  margin-bottom: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.specifications-text {
  font-size: 17x;
  margin-bottom: 24px;
  font-weight: 300;
}

/* Information */

.information {
  padding: 80px 0;
  background-color: #f5f5f5;
}

.information .container {
  padding: 0 100px;
}

.information-inner {
  padding: 60px;
  background-color: white;
}

.information-title {
  text-align: center;
  padding-bottom: 20px;
}

.information-text {
  margin-bottom: 20px;
}

/* Feedback */

.feedback {
  padding: 80px 0;
  text-align: center;
}

.feedback-card {
  display: flex;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  background-color: #f5f5f5;
}

.feedback-card div:first-child {
  display: flex;
  align-items: center;
}

.feedback-person-photo {
  width: 100%;
  flex-basis: 200px;
}

.feedback-person {
  flex-shrink: 20;
  padding: 20px;
}

.feedback-person-name {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 300;
}

.feedback-person-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

/* Main-gallery */

.gallery {
  padding: 80px 0;
  text-align: center;
  background-color: #f5f5f5;
}

.gallery-wrap {
  display: flex;
  flex-direction: column;
}
.gallery-subtitle {
  margin-bottom: 40px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 500px;
}

.gallery-item {
  flex-basis: 25%;
  margin: 15px;
  max-width: 380px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
}

.slide-container {
  width: 100%;
  display: flex;
}

.slide {
  height: 450px;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide.active {
  flex: 7;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* Addition information  */

.addition {
  padding: 80px 0;
  background-color: #f5f5f5;
}


.addition .container {
  padding: 0 100px;
}

.addition-inner {
  padding: 60px;
  background-color: white;
}

.addition-title {
  text-align: center;
  padding-bottom: 20px;
}

.addition-text {
  margin-bottom: 20px;
}

/* Delivery & shipping */

.delivery_shipping {
  padding: 80px 0;
}

.delivery-wrap {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.delivery-title,
.delivery-subtitle {
  flex-basis: 100%;
}

.delivery-subtitle {
  margin-bottom: 26px;
}

.delivery-image,
.delivery-text {
  flex-basis: 50%;
  padding: 15px;
  border-radius: 22px;
}

.delivery-text {
  text-align: left;
  line-height: 1.4;
  color: #696969;
}

.delivery-text p:not(:last-child) {
  margin-bottom: 18px;
}

/* Contacts */

.contacts {
  padding: 40px 0;
}

.contacts .container {
  padding: 0 60px;
}

.contacts-inner {
  display: flex;
  background-color: #f5f5f5;
}

.contacts-information {
  padding: 40px;
  text-align: center;
}

.contacts-title {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.contacts-list {
  padding-bottom: 40px;
  margin-left: 22px;
  text-align: left;
  list-style-type: circle;
}

.contacts-item {
  padding-bottom: 5px;
}

.contacts-map {
  flex-basis: 60%;
}

.contacts-text {
  padding-bottom: 15px;
}

.contacts-social {
  justify-content: center;
}

/* Footer */

.footer {
  padding: 40px 0;
  background-color: #f5f5f5;
}

.footer-wrap {
  display: flex;
  justify-content: start;
}

.footer-logo {
  flex-basis: 33.3%;
}

.footer-address {
  flex-basis: 36%;
  margin-left: 30px;
  font-size: 16px;
  color:#696969;
}

.footer-address .footer-text {
  margin-bottom: 10px;
}

.footer-confident {
  border-bottom: 1px dashed black;
  padding-bottom: 1px;
}


.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.footer-phone {
  margin-bottom: 4px;
  line-height: inherit;
}

.footer-phone::before {
  top: 0;
}

.footer-contacts .footer-text {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

/* max-width: 1279px */

@media (max-width: 1279px) {

  .section-title {
    font-size: 34px;
  }

  .section-subtitle {
    font-size: 28px;
  }

  .header-menu {
    font-size: 15px;
  }

  .header-menu-item,
  .header-menu-dot {
    margin: 0 4px;
  }

  /* .social-item {
    width: 30px;
  } */
    
  .social-header {
    margin-left: 0;
  }

  .btn-header {
    margin-left: 20px;
  }
  .phone-header {
    margin-left: 38px;
  }

    /* about */
  .about-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
  }

  .about-image {
    flex-basis: inherit;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .about-information {
    flex-basis: inherit;
  }

  .about-title {
    margin-bottom: 20px;
    text-align: center;
  }

  .contacts-information {
    padding: 20px;
  }

  .contacts-list {
    margin-bottom: 29px;
    font-size: 16px;
  }

  .footer-logo {
    width: 200px;
  }

  .footer-address {
    flex-basis: 25%;
    font-size: 12px;
    margin-left: 10px;
  }

  .footer-contacts .footer-text {
    font-size: 14px;
  }

  .footer-social .social-item a {
    width: 34px;
    height: 34px;
  }

}



@media (max-width: 767px) {

  .container {
    padding: 0 20px;
  }

  .section-title {
    font-size: 24px;
  }

  .section-subtitle {
    font-size: 18px;
  }

  /* Header */
  .burger-menu {
    display: block;
  } 


  .header-menu {
    display: none;
  }

  .header .container {
    display: flex;
    justify-content: center;
  }

  .header-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-contacts {
    flex-direction: column;
  }

  .header-logo {
    margin-right: inherit;
  }

  .social-header {
    display: none;
  }

  .btn-header,
  .phone-header {
    margin-left: 0;
    margin-top: 10px;
  }
  /* Primary */

  .primary-overlay {
    padding: 20px 0;
  }

  .primary-title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
  }

  .primary-text {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
  }

  .primary-button {
    width: 300px;
    height: 50px;
    line-height: 60px;
    font-size: 20px;
    border-radius: 4px;
  }

  /* about */
  .about-wrap {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }

  .about-image {
    flex-basis: inherit;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .about-information {
    flex-basis: inherit;
  }

  .about-title {
    margin-bottom: 20px;
  }

  .gallery {
    padding: 20px 0;
  }

  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
  }

  .gallery-item {
    flex-basis: 100%;
    margin: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
}

  .delivery_shipping {
    padding: 20px 0;
  }

  .delivery-image, .delivery-text {
    flex-basis: inherit;
}

  .addition {
    padding: 20px 0;
  }

  .addition .container {
    padding: 20px;
  }

  .addition-inner {
    padding: 20px;
  }

  .contacts {
    padding: 20px 0;
  }

  .contacts .container {
    padding: 0 20px;
  }

  .contacts-inner {
    flex-direction: column;
  }

  .contacts-title {
    padding-bottom: 10px;
  }

  .contacts-list {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 14px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer-wrap {
    flex-direction: column;
    justify-content: center;
  }

  .footer-logo {
    flex-basis: auto;
    align-self: center;
    margin-bottom: 20px;
  }

  .footer-address {
    flex-basis: auto;
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-contacts {
    align-items: center;
    margin-left: 0;
  }

}

